*{
  margin: 0;
  padding: 0;
}
html,body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url('damn.gif');
  height: 100%;
  width: 100%;
  /*<Parallax this bitch>*/
  background-attachment: fixed;
  background-repeat: no-repeat;
  /*</Parallax this bitch>*/
  background-size: cover;
}

h1{
  font-size: 400%;
  font-family: 'Monoton', cursive;
}

.head{
  color: white;
  text-align: center;
  margin-top: 60px;

}
.navbar{
  margin-right: 100px;
  margin-top: 30px;
}
.navbar li{
  text-transform: uppercase;
  margin-left: 60px;
  font-family: 'Denk One';
  cursor:pointer;
}

@media only screen and (max-width: 600px) {
  .navbar li{
    margin-left: 5px;
    margin-bottom: 10px;
  }
  .navbar{
    margin-left: 10px;
  }
}

.navbar li a:hover,
.navbar li a:active{
  border-bottom: solid 2px white;
  transition: border-bottom 0.36s;
}

.jumbotron{
  max-width: 75%;
  margin-top: 80px;
  background-color: grey;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 3.0));
  color: white;
  font-family: "Denk One";
}
@media only screen and (max-width: 600px) {
  .jumbotron{
    max-width: 100%;
  }
}

.button{
  background-color: grey;
}
.button:hover{
  background-color: pink;
  color: black;
  transition: background-color  .36s;
}

.heartLogo{
  height: 200%;
}

.modal-body, .modal-title, .modal-footer{
  text-align: center;
  font-family: "Denk One";
}

form input{
  margin-bottom: 10px;
  text-align: center;
  font-family: "Denk One";
  width: 100%;
}

.form-modal{
  margin-bottom: 30px;
}

.submit{
  color: white;
}

@media only screen and (max-width: 600px) {
  #contactModal, #aboutModal{
    padding-top: 100px;
  }
}

.gallery{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, .3));
    border-radius: 4px;
    margin-top: 30px;
}
.card{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
}


.card img{
  max-width: 290px;
  border: solid 3px black;
  border-radius: 3px;
  height: 260px;
}
@media only screen and (max-width: 600px) {
  .gallery{
    text-align: center;
  }
  .card{
    /*center*/
    margin: auto;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.footer{
  text-align: center;
  color: white;
  margin-top: 60px;
  margin-bottom: 10px;
}

.logo{
  color: white;
  font-size: 20px;
}

.logo:hover{
  color: pink;
  text-decoration: none;
}

.logoHead{
  color: white;
  font-size: 36px;
}
.logoHead:hover{
  color: pink;
}

.leftNavLnks{
  padding-left: 60px;
}
