/*-------------------------------*/
/*---- BASIC SETUP ----*/
/*-------------------------------*/
*{
  margin:0;
  padding:0;
}


h1{
  font-family: 'Metal Mania', cursive;
  font-size:300px;
}
#about{

  background-color: #EAEAEA;
  border-radius: 6px;
  padding: 20px 20px;
}

.titles{
border-left: solid 2px grey;
background-color: #f7f1e3;
padding-bottom: 70px;


}
.dates{
  background-color: #f7f1e3;
  padding-bottom: 600px;
  border-right: solid 2px grey;

}

/*-------------------------------*/
  /*---- NAV ----*/
  /*-------------------------------*/

  .navbar{
    padding-right: 50px;
    padding-top:10px;
  }

.navbar li{
  display: inline-block;
}
.navbar a{
  padding: 10px 10px;
  text-decoration: none;
  color: black;
  font-size: 260%;

}
.navbar a:visited,
.navbar a:active{
  text-decoration: none;
}
.navbar a:hover{
  text-decoration: none;
  border-botom: solid 2px red;
  transition: border-botom 0.2s;
}
/*-------------------------------*/
  /*---- HEADER ----*/
  /*-------------------------------*/
  .header{
    /*add linear gradient for transperancy on top of image, black rgba color,.7 percent*/

    background-size: cover;
    background-position: center;
    height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.jumbotron img{
  width: 80%;
  height: auto;
  border-radius: 93px;
}
