/*-------------------------------*/
/*---- BASIC SETUP ----*/
/*-------------------------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility; /*Improves readability of font*/
}
h1{
  font-family: 'Metal Mania', cursive;
  margin-top: 146px;
  opacity: .36;

}
h1:hover{
  opacity: 1.0;

  transition: opacity 1.36s;

}

div.name{
  text-align: center;
}
/*-------------------------------*/
/*---- REUSBALE COMPONENTS ----*/
/*-------------------------------*/

.row{
  max-width: 1140px;
  margin: 0 auto;
}



  /*-------------------------------*/
  /*----NAV BAR ----*/
  /*-------------------------------*/
.main-nav{
  float:right;
  list-style:none;
  padding: 10px 0;

}
.main-nav li{
  display: inline-block;
  padding: 10px 16px;
  font-size:160%;
}
.main-nav li a{
  opacity: .46;
}

.main-nav li a:hover,
.main-nav li a:active{
  opacity: .9;
  border-bottom: solid 2px #800000;
  transition: opacity 0.2s, border-bottom 0.2s;
}

.logo{
    height: 180px;
    padding-top: 30px;
    border-radius: 60px;
    opacity: 0.6;
  }

.logo:hover{
  transform: rotate(360deg);
  transition: transform 0.36s;
}

.main-nav li a:link,
.main-nav li a:visited{
  padding: 8px 0;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 90%
}

/*-------------------------------*/
  /*---- HEADER ----*/
  /*-------------------------------*/
  header{
    /*add linear gradient for transperancy on top of image, black rgba color,.7 percent*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.43),rgba(0, 0, 0, 0.43)), url(../img/nebula.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;

  }

  /*-------------------------------*/
    /*---- ABOUTME ----*/
    /*-------------------------------*/

.right{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: red;
}
.right h2{
  color:black;
}
